
        <title>Restaurant</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >  
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
          <link type="text/css" rel="stylesheet" href="style2.css">
          <style>
            body{
background-image: url('https://casasensei.com/wp-content/uploads/2019/06/South-Indian-Bruschetta-Recipe.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
              a{
                  text-decoration: none;
                  color:#FFF;
              }
              .caption
              {
                  text-align: center;
              }
              table, th, td {
                                border: 1px solid black;
                               border-collapse: collapse;
                                font-size: 20px;
                            }

                th, td {
                         padding: 15px;
                       }
                .ex{
                      align:center;
                   }
                   h2{
                    text-align: center;
                   }
                   .jumbotron{
background-color: #80ced6;
}
th{
  background-color: rgb(0,139,139);
}
td{
  background-color: rgb(211,211,211);
}
 
                      </style>
    
    
         
        <div class="container">
            <div class="jumbotron">
                <h1 style="text-align:center; ">Namma Restaurant!</h1>
                <h2 style="text-align:center; ">Your extras!!!</h2>
            </div>
        </div>
        <h2>Extras</h2>
        <div class="ex">
 <table style="width:50%;" align="center">
  <tr>
    <th>Item</th>
  </tr>
   <% for(var i=0; i<items.length; i++){ %>
  <tr>
         <td><%=items[i] %></td>    
   </tr>
   <% } %>
</table>
</div>
    